<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <script type="importmap">
            {
                "imports": {
                    "preact": "/js/preact/preact.mjs",
                    "preact/hooks": "/js/preact/hooks/hooks.mjs"
                }
            }
        </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SuperMarioOdysseyOnline.Server.Application</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/SuperMarioOdysseyOnline.Server.Application.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <script src="~/js/site.js" asp-append-version="true" type="module"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
